@use '../variables' as *;
@use '../mixins' as *;

// Watchlist page styles
.poster-container {
  margin-top: $spacing-md;
  margin-bottom: $spacing-xl * 3;
  padding-top: $spacing-md;
  padding-bottom: $spacing-xl * 3;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: $spacing-sm;
}


.notFound {
  height: 100%;
  width: 70%;
}

@media (max-width: 480px) {
  .poster-container .poster-wrapper {
    width: calc((100% - #{$spacing-sm}) / 2);
  }
}

