*.bin filter=lfs diff=lfs merge=lfs -text
webpage/films.json filter=lfs diff=lfs merge=lfs -text
webpage/film_data.json filter=lfs diff=lfs merge=lfs -text
oo269/** filter=lfs diff=lfs merge=lfs -text
<file[[:space:]]of[[:space:]]webpage/films.json
l
 filter=lfs diff=lfs merge=lfs -text
