<!--for styling, change file type to html, run live server, make changes, then change back to ejs-->
<!-- make page background react to colours in poster -->

<!DOCTYPE HTML>
<html>

<head>
    <meta charset=utf-8>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>

    <link rel="stylesheet" href="/styles/search.css" />
    <link rel="stylesheet" href="/bootstrap/css/mdb.min.css" />
    <script src="/scripts/search.js"></script>
    <!-- <script src="/bootstrap/js/mdb.min.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>

<body>

    <!-- Nav bar -->
    <div class="nav-bar py-1 bg-white border-bottom">
        <div class="container d-flex justify-content-center align-items-center text-center">

            <!-- Left elements -->
            <div class="col">
                <% if (session && session.email) { %>
                    <!-- sign in button -->
                    <form action="/signout" method="POST">
                        <button type="submit" id="signoutBtn" class="border rounded nav-link d-inline-block">
                            <p class="btn mb-0">Sign out</p>
                        </button>
                    </form>

                    <% } else { %>
                        <!-- sign up and sign in buttons -->
                        <a href="/createAccount" class="border rounded nav-link d-inline-block">
                            <p class="btn d-md-block mb-0">Sign up</p>
                        </a>
                        <a href="/login" class="border rounded nav-link d-inline-block">
                            <p class="btn d-md-block mb-0">Sign in</p>
                        </a>
                        <% } %>
            </div>

            <!-- Centered title -->
            <div class="col" id="page_title" style="cursor: pointer;">
                <h1>C I N E P H I L E</h1>
            </div>

            <!-- Right elements -->
            <div class="col text-end">
                <% if (session && session.email) { %>
                    <a href="/search" class="border rounded nav-link d-inline-block menu-btn"
                        style="background-color: orange;">
                        <p class="btn btn-sm d-md-block mb-0">Search</p>
                    </a>
                    <a href="/recommend" class="border rounded nav-link d-inline-block menu-btn">
                        <p class="btn btn-sm d-md-block mb-0">Recommend</p>
                    </a>
                    <a href="/watchlist" class="border rounded nav-link d-inline-block menu-btn">
                        <p class="btn btn-sm d-md-block mb-0">Watchlist</p>
                    </a>
                    <a href="/profile" class="border rounded nav-link d-inline-block menu-btn">
                        <p class="btn btn-sm d-md-block mb-0">My films</p>
                    </a>
                    <% } %>
            </div>

        </div>

    </div>
    <!-- END nav bar -->


    <!-- page content -->
    <div class="container" style="padding-top: 60px;">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-6">
                <form id="searchForm" class="search-container" action="/search" method="GET">
                    <div class="input-group">
                        <div class="form-outline border" style="border-radius: 10px" data-mdb-input-init>
                            <input type="search" id="searchInput" name="query" class="form-control" />
                            <label for="searchInput" class="form-label search-btn">Search...</label>
                        </div>
                        <button type="submit" class="btn btn-primary" data-mdb-ripple-init>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-search" viewBox="0 0 16 16">
                                <path
                                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                            </svg>
                        </button>
                    </div>
                </form>
            </div>


            <div class="searchQueriesContainer">
                <div id="searchQueries" class="col container d-flex justify-content-center inline-block "></div>
            </div>

            <button id="backToTopBtn" class="btn btn-secondary" style="display: none;">Back to Top</button>

            <div class="poster-container m-1" id="search-films" data-id="<%= session.id %>">
                <div class="loading-spinner" style="display: block;"></div>
                <!-- FILM CARDS SPAWNED HERE -->
            </div>

        </div>

    </div>
    <!-- END page content -->



</body>


<footer>

    <script>
        
        $(document).ready(function () {
            // Monitor scroll event
            $(window).scroll(function () {
                // If user scrolled more than 300 pixels down, show the button
                if ($(this).scrollTop() > 500) {
                    $('#backToTopBtn').fadeIn();
                } else {
                    // Otherwise, hide the button
                    $('#backToTopBtn').fadeOut();
                }
            });

            // Add click event handler to scroll back to top
            $('#backToTopBtn').click(function () {
                $('html, body').animate({ scrollTop: 0 }, 'fast');
                return false;
            });
        });


    </script>


</footer>

</html>