/* mixed recommendations */
.scroll-container{
    display: flex;
    flex-direction: column;
    align-items: center; /* Align items horizontally at the center */
}

.bulk-scrollbox {
    width: 100%;
    height: 80vh;
    overflow-y: scroll;
    border-radius: 5;
}

.main-title{ 
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}

.film-card {
    display: flex;
    flex-direction: row;
    height: 32%;
    overflow-y: hidden;
    border: 1px solid #000000;
    border-radius: 0px;
    margin: 15px;
    background-color: #F0EFEB;
}

.film-details {
    margin: 3px;
}

.film-poster {
    width: 25%;
    height: auto;
    display: block;
    border-radius: 5px;
    margin: 4px;
    margin-right: 5px;
}

.film-title {
    text-align: center;
    margin: 3px;
    font-size: 20px;
    font-weight: bold;
}

.small-title {
    font-size: 20px;
}

.film-plot {
    font-size: 12px;
    height: 25%;
    overflow-y: scroll;
    margin-bottom: 3px;
}

.film-metadata {
    display: flex;
    justify-content: space-around;
}

.film-year,
.film-runtime,
.film-rating {
    font-size: 18px;
    font-weight: 600;
}

.film-genre {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 3px;
    font-size: 18px;
}

.film-cast {
    margin: 3px;
    font-size: 12px;
    text-align: left;
    font-weight: lighter;
    font-style: italic;
}

.film-similarity {
    position: static;
    text-align:right;
    font-size: 16px;
    font-weight: bold;
    margin:5px  
}

/* END combined recommendations */


/* grouped card recommendations */

.secondary-title{
    font-size: 22px;
    font-weight: 400;
    font-style: italic;
    text-align: center;

}

.group-scrollbox {
    width: 100%;
    height: 35vh;
    border-radius: 5px;
    padding: 2px;
    overflow-y: auto;
}

.small-film-card {
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    height: 25%;
    border: 1px solid #000000;
    border-radius: 3px;
    margin: 10px;
    padding: 10px;    

}

.small-film-details{
    margin: 3px;
}

.small-film-title {
    margin: 1px;
    text-decoration:underline;
    font-size: 14px;
    font-weight: bold;
}

.small-film-plot {
    font-size: 10px;
    height: 70%;
    overflow: hidden;
}

.small-film-genres {
    font-weight: 500;
    font-size: 16px;
}

.small-film-cast {
    font-size: 11px;
    font-style: italic;
}

.small-film-crew {
    font-size: 11px;
    font-style: italic;
}

/* END grouped recommendations */


/* grouped card colours */
.plot-card{
    background-color: #E0FEFF;
}

.cast-card{
    background-color: #d4ffc8;
}

.genres-card{
    background-color: #FFC394;
}

.crew-card{
    background-color: #ffc0fd;
}
/* END grouped card colours */

.clickable{
    cursor: pointer;
}

.myPeople{
    font-weight: bold;
}

.border-top-bottom-rounded {
    border-top: 1px solid; /* Top border */
    border-bottom: 1px solid; /* Bottom border */
    border-left: none; /* No left border */
    border-right: none; /* No right border */
    border-top-left-radius: 10px; /* Rounded top-left corner */
    border-top-right-radius: 10px; /* Rounded top-right corner */
    border-bottom-left-radius: 10px; /* Rounded bottom-left corner */
    border-bottom-right-radius: 10px; /* Rounded bottom-right corner */
}

.spinner {
    border: 4px solid rgba(255, 247, 247, 0.1);
    border-left-color: #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: auto;
    margin-top: 20%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}