.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 15px;
}

.form-outline input[type=search] {
    text-align: center;
}

#searchQueries {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin:5px;
}

.saved-query-box {
    margin: 5px;
}

/* END queries */

/* Film poster */

.poster-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 70vh;
    overflow-y: scroll;
    justify-content: center;
  }
  
  .poster-wrapper {
    width: 16%;
    height: auto;
    margin: 7px;
  }
  
  .film-poster {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
  
  }

.caption {
    display: None;
  }
  

.poster-wrapper:hover .caption {
    display: block;
}

.clickable {
    cursor: pointer;
}

.btn-close:hover {
    opacity: 1;
}

figure:hover .figcaption {
    display: flex;
}

figure {
    position: relative;
    display: inline-block;
    text-align: left;
    overflow-y: hidden;

}

figcaption {
    position: absolute;
    inset: 2px;
    display: none;

    color: black;
    font-size: 12px;
    text-align: left;
    padding: 3px;
    overflow-y: hidden;
    background-color: rgba(255, 255, 255, 0.7);
}