<!--for styling, change file type to html, run live server, make changes, then change back to ejs-->

<!DOCTYPE HTML>
<html>

<head>
    <meta charset=utf-8>
    <meta name="viewport" content="width=device-width">
    <title>Home</title>

    <link rel="stylesheet" href="/bootstrap/css/mdb.min.css" />
    <script src="/bootstrap/js/mdb.min.js"></script>
    <script src="/scripts/index.js"></script>
</head>

<body>

    <!-- Nav bar -->
    <div class="py-1 text-center bg-white border-bottom">
        <div class="container">
            <div class="row align-items-center justify-content-between">

                <!-- Left elements -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <% if (session && session.email) { %>
                        <!-- sign in button -->
                        <form action="/signout" method="POST">
                            <button type="submit" class="border rounded nav-link d-inline-block">
                                <p class="btn mb-0">Sign out</p>
                            </button>
                        </form>

                        <% } else { %>
                            <!-- sign up and sign in buttons -->
                            <a href="/createAccount" class="border rounded nav-link d-inline-block">
                                <p class="btn d-md-block mb-0">Sign up</p>
                            </a>
                            <a href="/login" class="border rounded nav-link d-inline-block">
                                <p class="btn d-md-block mb-0">Sign in</p>
                            </a>
                            <% } %>
                </div>

                <!-- Centered title -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <h1>Film Recommender</h1>
                </div>

                <!-- Right elements -->
                <div class="col-lg-4 col-md-12 col-sm-12 text-end">
                    <% if (session && session.email) { %>
                        <!-- watchlist and profile buttons -->
                        <a href="/Recommend" class="border rounded nav-link d-inline-block">
                            <p class="btn d-md-block mb-0">Recommend</p>
                        </a>
                        <a href="/Watchlist" class="border rounded nav-link d-inline-block">
                            <p class="btn d-md-block mb-0">Watchlist</p>
                        </a>
                        <a href="/Profile" class="border rounded nav-link d-inline-block">
                            <p class="btn d-md-block mb-0">My films</p>
                        </a>
                        <% } %>
                </div>
            </div>
        </div>
    </div>
    <!-- END nav bar -->


    <div class="container">
        <div class="row">

            <!-- Filters -->
            <div>

            </div>
            <!-- END filters -->


            <!-- Film carousel -->
            <div class="col-md-6 py-5 carousel-container">
                <div class="carousel slide" id="film-carousel" data='<%- JSON.stringify(films) %>'
                    data-mdb-ride="carousel" data-mdb-carousel-init>
                    <div class="d-flex align-items-center justify-content-center">

                        <!-- film poster -->
                        <div class="carousel-inner">
                            <div id="film-poster" class="carousel-item active">
                                <!-- Film poster will be displayed here -->
                            </div>
                        </div>

                        <!-- previous button -->
                        <button style="background-color: rgba(255, 255, 255, 0);" id="prev-btn"
                            class="carousel-control-prev" type="button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="grey"
                                class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                                <path
                                    d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z" />
                            </svg>
                        </button>

                        <!-- next button -->
                        <button style="background-color: rgba(255, 255, 255, 0);" id="next-btn"
                            class="carousel-control-next col-sm-12" type="button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="grey"
                                class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                                <path
                                    d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                            </svg>
                        </button>

                    </div>
                </div>
            </div>
            <!-- END film carousel -->


            <!-- Film info -->
            <div class="col-md-6 py-2">
                <div class="container px-3">
                    <div class="col-md-12">
                        <div id="film-title" class="h3 text-center">
                            <!-- Film data displayed here from scripts/index.js -->

                            <!--
                            <strong>Film Title</strong><br>

                            <div class="small-text py-2 mb-2" style="max-height: 60px; overflow-y: auto;">
                                <p> elit ullamcorper dignissim cras tincidunt lobortis feugiat vivamus at augue eget arcu dictum varius duis at consectetur lorem donec massa sapien faucibus et molestie ac feugiat sed lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare massa eget egestas purus viverra accumsan in nisl nisi scelerisque eu ultrices vitae auctor eu augue ut lectus arcu bibendum at varius vel pharetra vel turpis nunc eget lorem dolor sed viverra ipsum nunc aliquet bibendum enim facilisis gravida neque convallis a cras semper auctor neque vitae tempus quam pellentesque nec nam aliquam sem et tortor consequat id porta nibh venenatis cras sed felis eget velit aliquet sagittis id consectetur purus ut faucibus pulvinar elementum integer enim neque volutpat ac tincidunt vitae semper quis lectus nulla at volutpat diam ut venenatis tellus in metus vulputate eu scelerisque felis imperdiet proin fermentum leo vel orci porta non pulvinar neque laoreet suspendisse interdum consectetur libero id faucibus nisl tincidunt eget nullam non nisi est sit amet facilisis magna etiam tempor orci eu lobortis elementum nibh tellus molestie nunc non blandit massa enim nec dui nunc mattis enim ut tellus elementum sagittis vitae et leo duis ut diam quam nulla porttitor massa id neque aliquam vestibulum morbi blandit cursus risus at ultrices mi tempus imperdiet nulla malesuada pellentesque elit eget gravida cum sociis natoque penatibus et magnis dis parturient montes nascetur ridiculus mus mauris vitae ultricies leo integer malesuada nunc vel risus commodo viverra maecenas accumsan lacus vel facilisis volutpat est velit egestas dui id ornare arcu odio ut sem nulla pharetra diam sit amet nisl suscipit adipiscing bibendum est ultricies integer quis auctor elit sed vulputate mi sit amet mauris commodo quis imperdiet massa tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada proin libero nunc consequat interdum varius sit amet mattis vulputate enim nulla aliquet porttitor lacus luctus accumsan tortor posuere ac ut consequat semper viverra nam libero justo laoreet sit amet cursus sit amet dictum sit amet justo donec enim diam vulputate ut pharetra sit amet aliquam id diam maecenas ultricies mi eget mauris pharetra et ultrices neque ornare aenean euismod elementum nisi quis eleifend quam adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus urna neque viverra justo nec ultrices dui sapien eget mi proin sed libero enim sed faucibus turpis in eu mi bibendum neque egestas congue quisque egestas diam in arcu cursus euismod quis viverra nibh cras pulvinar mattis nunc sed blandit libero volutpat sed cras ornare arcu dui vivamus arcu felis bibendum ut tristique et egestas quis ipsum suspendisse ultrices gravida dictum fusce ut placerat orci nulla pellentesque dignissim enim sit amet venenatis urna cursus eget nunc scelerisque viverra mauris in aliquam sem fringilla ut morbi tincidunt augue interdum velit euismod in pellentesque massa placerat duis ultricies lacus sed turpis tincidunt id aliquet risus feugiat in ante metus dictum at tempor commodo ullamcorper a lacus vestibulum sed arcu non odio euismod lacinia at quis risus sed vulputate odio ut enim blandit volutpat maecenas volutpat blandit aliquam etiam erat velit scelerisque in </p>
                            </div>

                            
                            <div class="row d-flex">

                                <div class="col-sm border border-3 mx-3">
                                    <div class="h5 mb-3 border-bottom">RATING</div>
                                    <div class="p text-center">7.5</div>
                                </div>

                                <div class="col-sm border border-3 mx-3">
                                    <div class="h5 mb-1 border-bottom">GENRE</div>
                                    <div class="list-unstyled" style="font-size: 18px;">
                                        <li>drama</li>
                                        <li>action</li>
                                        <li>comedy</li>
                                    </div>
                                </div>

                                <div class="col-sm border border-3 px-3">
                                    <div class="h5 mb-3 border-bottom">RUNTIME</div>
                                    <div class="p text-center">2h 34m</div>
                                    <p></p>
                                </div>

                            </div>


                            <div class="col-md-12 py-3">
                                <div class="h5 text-center">CAST</div>
                                <div class="container px-0">
                                    <div class="d-flex justify-content-center">

                                        <div class="actor d-flex align-items-center">
                                            <span class="px-1">|</span>
                                            <span class="medium-text"> Anne Hathaway </span>
                                            <span class="px-1">|</span>
                                        </div>

                                        <div class="actor d-flex align-items-center">
                                            <span class="px-1">|</span>
                                            <span class="medium-text"> Christian Bale </span>
                                            <span class="px-1">|</span>
                                        </div>

                                        <div class="actor d-flex align-items-center">
                                            <span class="px-1">|</span>
                                            <span class="medium-text"> Tom Hardy </span>
                                            <span class="px-1">|</span>
                                        </div>

                                        <div class="actor d-flex align-items-center">
                                            <span class="px-1">|</span>
                                            <span class="medium-text"> Michael Caine </span>
                                            <span class="px-1">|</span>
                                        </div>

                                        <div class="actor d-flex align-items-center">
                                            <span class="px-1">|</span>
                                            <span class="medium-text"> Gary Oldman </span>
                                            <span class="px-1">|</span>
                                        </div>

                                        <div class="actor d-flex align-items-center">
                                            <span class="px-1">|</span>
                                            <span class="medium-text"> Morgan Freeman </span>
                                            <span class="px-1">|</span>
                                        </div>

                                        <div class="actor d-flex align-items-center">
                                            <span class="px-1">|</span>
                                            <span class="medium-text"> Joseph Gordon-Levitt </span>
                                            <span class="px-1">|</span>
                                        </div>

                                    </div>
                                </div>
                            </div>


                            <div class="row d-flex py-2">

                                <div class="col-sm border border-3 mx-3">
                                    <div class="h5 mb-3 border-bottom">DIRECTOR</div>
                                    <div class="p medium-text text-center">Christopher Nolan</div>
                                </div>

                                <div class="col-sm border border-3 px-3">
                                    <div class="h5 mb-3 border-bottom">CINEMATOGRAPHER</div>
                                    <div class="p medium-text text-center">Wally Pfister</div>
                                    <p></p>
                                </div>

                                <div class="col-sm border border-3 mx-3">
                                    <div class="h5 mb-1 border-bottom">WRITER</div>
                                    <div class="list-unstyled" style="font-size: 16px;">
                                        <li>Jonathan Nolan</li>
                                        <li>Christopher Nolan</li>
                                        <li>David S. Goyer</li>
                                    </div>
                                </div>

                            </div>


                            <div class="row d-flex py-4">

                                <div class="col-sm border border-3 mx-3">
                                    <div class="h5 mb-3 border-bottom">PRODUCER</div>
                                    <div class="p medium-text text-center">Christopher Nolan</div>
                                </div>

                                <div class="col-sm border border-3 px-3">
                                    <div class="h5 mb-3 border-bottom">EDITOR</div>
                                    <div class="p medium-text text-center">Wally Pfister</div>
                                    <p></p>
                                </div>

                                <div class="col-sm border border-3 mx-3">
                                    <div class="h5 mb-1 border-bottom">COMPOSER</div>
                                    <div class="list-unstyled" style="font-size: 16px;">
                                        <li>Jonathan Nolan</li>
                                        <li>Christopher Nolan</li>
                                        <li>David S. Goyer</li>
                                    </div>
                                </div>

                            </div>


                            <div class="container">
                                <div class="row d-flex py-2 justify-content-center align-items-center">
                                    <div class="col-md-6 border border-3">
                                        <div class="h5 mb-3 border-bottom">PRODUCTION DESIGNER</div>
                                        <div class="p medium-text text-center">Christopher Nolan</div>
                                    </div>
                                </div>
                            </div>
                           -->


                        </div>
                    </div>
                    <!-- END film info -->


                </div>
            </div>

</body>



</html>