<!--for styling, change file type to html, run live server, make changes, then change back to ejs-->


<!DOCTYPE HTML>
<html>
    <!--
        -nav bar on each page
    -->
    <head>
        <meta charset = utf-8>
        <meta name = "viewport" content = "width=device-width">
        <title>Home</title>
        <script></script>
    </head>

    <body>
        <h1>Film Recommender</h1>
        <p><a href="/login">Login</a></p>
        <p><a href="/createAccount">Create Account</a></p>
    </body>
</html>
