<!DOCTYPE HTML>
<html>
    <!--
        -nav bar on each page
    -->
    <head>
        <meta charset = utf-8>
        <meta name = "viewport" content = "width=device-width , intial-scale = 1.0">
        <title>Home</title>
        <script></script>
    </head>

    <body>
        <h1>Welcome</h1>
        <form action="CreateAccount.html">
            <button type= "submit">Create Account</button>
        </form>
        <p></p>
        <form action="Login.html">
            <button type= "submit">Login</button>
        </form>


    </body>
</html>
