<!--
    -allow user to login into account
    -validate username/password

-->
<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset=utf-8>
    <meta name="viewport" content="width=device-width">
    <title>Login page</title>

    <script src="/scripts/login.js"></script>
</head>

<body>
    <h1>Login</h1>

    <form id="login-form" method="POST" action="/login">
        <label for="uname"></label>
        <input type="text" id="username" placeholder="Username" required />
        <p></p>

        <label for="password"></label>
        <input type="password" id="password" placeholder="Password" required />
        <p></p>

        <input type="checkbox" onclick="togglePassword()" /> Show Password
        <p></p>

        <button id="logintbn" type="submit">Login</button>
    </form>



</body>

</html>