<!--for styling, change file type to html, run live server, make changes, then change back to ejs-->
<!-- make page background react to colours in poster -->

<!DOCTYPE HTML>
<html>

<head>
    <meta charset=utf-8>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommend</title>

    <link rel="stylesheet" href="/styles/profile.css" />
    <link rel="stylesheet" href="/bootstrap/css/mdb.min.css" />
    <script src="/scripts/profile.js"></script>
    <script src="/bootstrap/js/mdb.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>

<body>

    <!-- Nav bar -->
    <div class="py-1 text-center bg-white border-bottom">
        <div class="container">
            <div class="row align-items-center justify-content-between">

                <!-- Left elements -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <% if (session && session.email) { %>
                        <!-- sign in button -->
                        <form action="/signout" method="POST">
                            <button type="submit" class="border rounded nav-link d-inline-block">
                                <p class="btn mb-0">Sign out</p>
                            </button>
                        </form>

                        <% } else { %>
                            <!-- sign up and sign in buttons -->
                            <a href="/createAccount" class="border rounded nav-link d-inline-block">
                                <p class="btn d-md-block mb-0">Sign up</p>
                            </a>
                            <a href="/login" class="border rounded nav-link d-inline-block">
                                <p class="btn d-md-block mb-0">Sign in</p>
                            </a>
                            <% } %>
                </div>

                <!-- Centered title -->
                <div class="col-lg-4 col-md-6 col-sm-12" id="page_title" style="cursor: pointer;">
                    <h1>C I N E P H I L E</h1>
                </div>

                <!-- Right elements -->
                <div class="col-lg-4 col-md-12 col-sm-12 text-end">
                    <% if (session && session.email) { %>
                        <!-- watchlist and profile buttons -->
                        <a href="/recommend" class="border rounded nav-link d-inline-block">
                            <p class="btn d-md-block mb-0">Recommend</p>
                        </a>
                        <a href="/Profile" class="border rounded nav-link d-inline-block">
                            <p class="btn d-md-block mb-0">My films</p>
                        </a>
                        <a href="/Watchlist" class="border rounded nav-link d-inline-block">
                            <p class="btn d-md-block mb-0">Watchlist</p>
                        </a>

                        <% } %>
                </div>
            </div>
        </div>
    </div>
    <!-- END nav bar -->




    <!-- page content -->
    <!-- page content -->
    <div class="container">
        <div class="row">

            <!-- MIXED RECOMMENDED FILM CARDS REEL -->
            <div class="col-lg-6 col-md-6 col-sm-12">

                <div class="main-title">your favourite films</div>

                <div class="container">
                    <div class="poster-container" id="loved-films" data-id="<%= session.id %>" data-bs-spy="scroll">
                        <div class="spinner" style="display: block;"></div>
                        <!-- FILM CARDS SPAWNED HERE -->

                    </div>

                </div>
            </div>
            <!-- END MIXED FILMS CARDS REEL -->

            <!-- REC FILMS CATEGORIES -->
            <div class="col-lg-6 col-md-6 col-sm-12">

                <div class="main-title">your favourite...</div>
                <div class="container d-flex flex-column m-15 p-10">

                    <!-- plot and cast category boxes row -->

                    <!-- cast category scroll box -->
                    <div class="secondary-title">actors</div>
                    <div id="cast-box" class="favourite-item">
                        <!-- <div class="spinner" style="display: block;"></div> -->
                        <!-- favourite film-makers box -->
                        <!-- END favourite film-makers box -->
                    </div>
                    <!-- END cast category scroll box -->

                    <!-- plot cateogry scroll box -->
                    <div class="secondary-title">filmmakers</div>
                    <div id="crew-box" class="favourite-item">
                        <!-- <div class="spinner" style="display: block;"></div> -->
                        <!-- favourite actors box -->
                        <!-- END favourite actors box -->
                    </div>
                    <!-- END plot cateogry scroll box -->

                    <!-- cast category scroll box -->
                    <div class="secondary-title">genre</div>
                    <div id="genre-box" class="favourite-item">
                        <!-- <div class="spinner" style="display: block;"></div> -->
                        <!-- favourite film-makers box -->
                        <!-- END favourite film-makers box -->
                    </div>
                    <!-- END cast category scroll box -->


                </div>

            </div>

        </div>

    </div>
    <!-- END page content -->


</body>


<footer>

    <script>

        // click on film card to open in index
        $(document).on('click', '.clickable', async function () {
            const tconst = $(this).data('id');
            const response = await axios.get(`http://localhost:8080/openClickedFilm?tconst=${tconst}`);
            let savedCounter = response.data.counter;
            let savedIndex = response.data.currentIndex;
            localStorage.setItem('counter', savedCounter);
            localStorage.setItem('currentIndex', savedIndex);
            window.location.href = '/index';
        });

        // click on titlebar to go back to index
        $('#page_title').click(function () {
            window.location.href = '/index';
        });


    </script>


</footer>

</html>