<!--for styling, change file type to html, run live server, make changes, then change back to ejs-->
<!-- make page background react to colours in poster -->

<!DOCTYPE HTML>
<html>

<head>
    <meta charset=utf-8>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommend</title>

    <link rel="stylesheet" href="/styles/recommend.css" />
    <link rel="stylesheet" href="/bootstrap/css/mdb.min.css" />
    <script src="/scripts/recommend.js"></script>
    <script src="/bootstrap/js/mdb.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>

<body>

    <!-- Nav bar -->
    <div class="py-1 text-center bg-white border-bottom">
        <div class="container">
            <div class="row align-items-center justify-content-between">

                <!-- Left elements -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <% if (session && session.email) { %>
                        <!-- sign in button -->
                        <form action="/signout" method="POST">
                            <button type="submit" class="border rounded nav-link d-inline-block">
                                <p class="btn mb-0">Sign out</p>
                            </button>
                        </form>

                        <% } else { %>
                            <!-- sign up and sign in buttons -->
                            <a href="/createAccount" class="border rounded nav-link d-inline-block">
                                <p class="btn d-md-block mb-0">Sign up</p>
                            </a>
                            <a href="/login" class="border rounded nav-link d-inline-block">
                                <p class="btn d-md-block mb-0">Sign in</p>
                            </a>
                            <% } %>
                </div>

                <!-- Centered title -->
                <div class="col-lg-4 col-md-6 col-sm-12" id="page_title" style="cursor: pointer;">
                    <h1>C I N E P H I L E</h1>
                </div>

                <!-- Right elements -->
                <div class="col-lg-4 col-md-12 col-sm-12 text-end">
                    <% if (session && session.email) { %>
                        <!-- watchlist and profile buttons -->
                        <a href="/recommend" class="border rounded nav-link d-inline-block">
                            <p class="btn d-md-block mb-0">Recommend</p>
                        </a>
                        <a href="/Profile" class="border rounded nav-link d-inline-block">
                            <p class="btn d-md-block mb-0">My films</p>
                        </a>
                        <a href="/Watchlist" class="border rounded nav-link d-inline-block">
                            <p class="btn d-md-block mb-0">Watchlist</p>
                        </a>
                        <% } %>
                </div>
            </div>
        </div>
    </div>
    <!-- END nav bar -->


    <!-- page content -->
    <div class="container">
        <div class="row">

            <!-- MIXED RECOMMENDED FILM CARDS REEL -->
            <div class="col-lg-6 col-md-6 col-sm-12">

                <div class="main-title">based on your profile</div>

                <div class="container scroll-container border-top-bottom-rounded">
                    <div class="bulk-scrollbox" id="combined_box" data-id="<%= session.id %>" data-bs-spy="scroll">
                        <div class="spinner" style="display: block;"></div>
                        <!-- FILM CARDS SPAWNED HERE -->

                    </div>

                </div>
            </div>
            <!-- END MIXED FILMS CARDS REEL -->

            <!-- REC FILMS CATEGORIES -->
            <div class="col-lg-6 col-md-6 col-sm-12">

                <div class="main-title">based on your favourite features</div>
                <div class="container m-0 p-0 ">

                    <!-- plot and cast category boxes row -->
                    <div class="row d-flex justify-content-center m-0">

                        <div class="col">
                            <!-- plot cateogry scroll box -->
                            <div class="secondary-title">storylines</div>
                            <div class="group-scrollbox border-top-bottom-rounded" id="plot_box" data-bs-spy="scroll">
                                <div class="spinner" style="display: block;"></div>

                                <!-- plot film card -->
                                <!-- END plot film card -->
                            </div>
                            <!-- END plot cateogry scroll box -->
                        </div>

                        <div class="col">
                            <!-- cast category scroll box -->
                            <div class="secondary-title">actors</div>
                            <div class="group-scrollbox border-top-bottom-rounded" id="cast_box" data-bs-spy="scroll">
                                <div class="spinner" style="display: block;"></div>

                                <!-- cast film card -->
                                <!-- END cast film card -->
                            </div>
                            <!-- END cast category scroll box -->
                        </div>

                    </div>

                    <!-- genre and crew category boxes row -->
                    <div class="row d-flex justify-content-center m-0">
                        <!-- cast category scroll box -->
                        <div class="col">
                            <div class="secondary-title mt-2">production crews</div>
                            <div class="group-scrollbox border-top-bottom-rounded" id="crew_box" data-bs-spy="scroll">
                                <div class="spinner" style="display: block;"></div>
                                <!-- crew film card -->
                                <!-- END crew film card -->
                            </div>
                        </div>
                        <!-- END crew category scroll box -->

                        <div class="col">
                            <!-- genre cateogry scroll box -->
                            <div class="secondary-title mt-2">genre</div>
                            <div class="group-scrollbox border-top-bottom-rounded" id="genre_box" data-bs-spy="scroll">
                                <div class="spinner" style="display: block;"></div>
                                <!-- genre film card -->
                                <!-- END genre film card -->
                            </div>
                            <!-- END genre category scroll box -->

                        </div>



                    </div>
                    <!-- END genre and crew category boxes row -->

                </div>

            </div>

        </div>

    </div>
    <!-- END page content -->

</body>


<footer>

    <script>

        // click on film card to open in index
        $(document).on('click', '.clickable', async function () {
            const tconst = $(this).data('id');
            const response = await axios.get(`http://localhost:8080/openClickedFilm?tconst=${tconst}`);
            let savedCounter = response.data.counter;
            let savedIndex = response.data.currentIndex;
            localStorage.setItem('counter', savedCounter);
            localStorage.setItem('currentIndex', savedIndex);
            window.location.href = '/index';
        });

        // click on titlebar to go back to index
        $('#page_title').click(function () {
            window.location.href = '/index';
        });

    </script>


</footer>

</html>