<!--for styling, change file type to html, run live server, make changes, then change back to ejs-->
<!-- make page background react to colours in poster -->

<!DOCTYPE HTML>
<html>

<head>
    <meta charset=utf-8>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommend</title>

    <link rel="stylesheet" href="/styles/recommend.css" />
    <link rel="stylesheet" href="/bootstrap/css/mdb.min.css" />
    <script src="/scripts/recommend.js"></script>
    <script src="/bootstrap/js/mdb.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>

<body>

    <!-- Nav bar -->
    <div class="py-1 text-center bg-white border-bottom">
        <div class="container">
            <div class="row align-items-center justify-content-between">

                <!-- Left elements -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <% if (session && session.email) { %>
                        <!-- sign in button -->
                        <form action="/signout" method="POST">
                            <button type="submit" class="border rounded nav-link d-inline-block">
                                <p class="btn mb-0">Sign out</p>
                            </button>
                        </form>

                        <% } else { %>
                            <!-- sign up and sign in buttons -->
                            <a href="/createAccount" class="border rounded nav-link d-inline-block">
                                <p class="btn d-md-block mb-0">Sign up</p>
                            </a>
                            <a href="/login" class="border rounded nav-link d-inline-block">
                                <p class="btn d-md-block mb-0">Sign in</p>
                            </a>
                            <% } %>
                </div>

                <!-- Centered title -->
                <div class="col-lg-4 col-md-6 col-sm-12" id="page_title" style="cursor: pointer;">
                    <h1>Film Recommender</h1>
                </div>

                <!-- Right elements -->
                <div class="col-lg-4 col-md-12 col-sm-12 text-end">
                    <% if (session && session.email) { %>
                        <!-- watchlist and profile buttons -->
                        <a href="/recommend" class="border rounded nav-link d-inline-block">
                            <p class="btn d-md-block mb-0">Recommend</p>
                        </a>
                        <a href="/Watchlist" class="border rounded nav-link d-inline-block">
                            <p class="btn d-md-block mb-0">Watchlist</p>
                        </a>
                        <a href="/Profile" class="border rounded nav-link d-inline-block">
                            <p class="btn d-md-block mb-0">My films</p>
                        </a>
                        <% } %>
                </div>
            </div>
        </div>
    </div>
    <!-- END nav bar -->




    <!-- page content -->
    <div class="container">
        <div class="row">

            <!-- MIXED RECOMMENDED FILM CARDS REEL -->
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="container">
                    <div class="h2">based on your profile:</div>

                    <div class="bulk-scrollbox" id="film-scrollbox" data-id="<%= session.id %>">
                        <!-- FILM CARDS SPAWNED HERE -->

                    </div>

                </div>
            </div>
            <!-- END MIXED FILMS CARDS REEL -->

            <!-- REC FILMS CATEGORIES -->
            <div class="col-lg-6 col-md-6 col-sm-12 py-2">

                <!-- plot and cast category boxes row -->
                <div class="row d-flex justify-content-center m-1">

                    <div class="col m-1">
                        <!-- plot cateogry scroll box -->
                        <div class="h3">storylines</div>
                        <div class="group-scrollbox" id="plot_box">
                            <!-- plot film card -->
                            <!-- END plot film card -->
                        </div>
                        <!-- END plot cateogry scroll box -->
                    </div>

                    <div class="col m-1">
                        <!-- cast category scroll box -->
                        <div class="h3">actors</div>
                        <div class="group-scrollbox" id="cast_box">
                            <!-- cast film card -->
                            <!-- END cast film card -->
                        </div>
                        <!-- END cast category scroll box -->
                    </div>

                </div>

                <!-- genre and crew category boxes row -->
                <div class="row d-flex justify-content-center m-1">

                    <div class="col m-1">
                        <!-- genre cateogry scroll box -->
                        <div class="h3">genre</div>
                        <div class="group-scrollbox" id="genre_box">
                            <!-- genre film card -->
                            <!-- END genre film card -->
                        </div>
                        <!-- END genre category scroll box -->

                    </div>

                    <!-- cast category scroll box -->
                    <div class="col m-1">
                        <div class="h3">production crews</div>
                        <div class="group-scrollbox" id="crew_box">
                            <!-- crew film card -->
                            <!-- END crew film card -->
                        </div>
                    </div>
                    <!-- END crew category scroll box -->
                </div>
                <!-- END genre and crew category boxes row -->

            </div>

        </div>

    </div>

    <!-- END page content -->

</body>


<footer>


</footer>

</html>