<!--for styling, change file type to html, run live server, make changes, then change back to ejs-->
<!-- make page background react to colours in poster -->

<!DOCTYPE HTML>
<html>

<head>
    <meta charset=utf-8>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommend</title>

    <link rel="stylesheet" href="/styles/recommend.css" />
    <link rel="stylesheet" href="/bootstrap/css/mdb.min.css" />
    <script src="/scripts/recommend.js"></script>
    <script src="/bootstrap/js/mdb.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>

<body>

    <!-- Nav bar -->
    <div class="nav-bar py-1 bg-white border-bottom">
        <div class="container d-flex justify-content-center align-items-center text-center">

            <!-- Left elements -->
            <div class="col">
                <% if (session && session.email) { %>
                    <!-- sign in button -->
                    <form action="/signout" method="POST">
                        <button type="submit" id="signoutBtn" class="border rounded nav-link d-inline-block">
                            <p class="btn mb-0">Sign out</p>
                        </button>
                    </form>

                    <% } else { %>
                        <!-- sign up and sign in buttons -->
                        <a href="/createAccount" class="border rounded nav-link d-inline-block">
                            <p class="btn d-md-block mb-0">Sign up</p>
                        </a>
                        <a href="/login" class="border rounded nav-link d-inline-block">
                            <p class="btn d-md-block mb-0">Sign in</p>
                        </a>
                        <% } %>
            </div>

            <!-- Centered title -->
            <div class="col" id="page_title" style="cursor: pointer;">
                <h1>C I N E P H I L E</h1>
            </div>

            <!-- Right elements -->
            <div class="col text-end">
                <% if (session && session.email) { %>
                    <a href="/search" class="border rounded nav-link d-inline-block menu-btn">
                        <p class="btn btn-sm d-md-block mb-0">Search</p>
                    </a>
                    <a href="/recommend" class="border rounded nav-link d-inline-block menu-btn"
                        style="background-color: orange;">
                        <p class="btn btn-sm d-md-block mb-0">Recommend</p>
                    </a>
                    <a href="/profile" class="border rounded nav-link d-inline-block menu-btn">
                        <p class="btn btn-sm d-md-block mb-0">My films</p>
                    </a>
                    <a href="/watchlist" class="border rounded nav-link d-inline-block menu-btn">
                        <p class="btn btn-sm d-md-block mb-0">Watchlist</p>
                    </a>
                    <% } %>
            </div>

        </div>

    </div>
    <!-- END nav bar -->


    <!-- page content -->
    <div class="container" style="padding-top: 60px;">
        <div class="row justify-content-center align-items-center">

            <div class="col-lg-6 col-md-6">
                <div id="showMe">
                    <label for="showMeOptions" class="h3 form-label m-2">filter: </label>
                    <select id="showMeOptions" class="form-select">
                            <option value="content" selected>From your profile</option>
                            <optgroup label="from features you may like...">
                            <option value="plot">Storylines</option>
                            <option value="cast">Cast</option>
                            <option value="crew">Crew</option>
                            <option value="genre">Genres</option>
                        </optgroup>
                    </select>
                </div>
            </div>

            <button id="backToTopBtn" class="btn btn-secondary" style="display: none;">Back to Top</button>

            <div id="filmsContainer" class="films-container m-1" data-id="<%= session.id %>">
                <!-- FILM CARDS SPAWNED HERE -->
            </div>


        </div>

    </div>


    <!-- END page content -->

</body>


<footer>

    <script>

        const refreshProfile = `<%= JSON.stringify(refreshProfile) %>`;

        // click on film card to open in index
        $(document).on('click', '.clickable', async function () {
            const tconst = $(this).data('id');
            const position = $(this).data('index');
            const similarity = $(this).data('similarity')
            const response = await axios.get(`http://localhost:8080/openClickedFilm?tconst=${tconst}`);
            const storeInteraction = await axios.post(`http://127.0.0.1:8081/save_recommended_interaction?user_id=<%= session.id %>&tconst=${tconst}&position=${position}&sim=${similarity}`)
            console.log(storeInteraction.data.message)
            let savedCounter = response.data.counter;
            let savedIndex = response.data.currentIndex;

            localStorage.setItem('counter', savedCounter);
            localStorage.setItem('currentIndex', savedIndex);
            window.location.href = '/index';
        });

        // back to top button for scroll
        $(document).ready(function () {
            // Monitor scroll event
            $(window).scroll(function () {
                // If user scrolled more than 300 pixels down, show the button
                if ($(this).scrollTop() > 500) {
                    $('#backToTopBtn').fadeIn();
                } else {
                    // Otherwise, hide the button
                    $('#backToTopBtn').fadeOut();
                }
            });

            // Add click event handler to scroll back to top
            $('#backToTopBtn').click(function () {
                $('html, body').animate({ scrollTop: 0 }, 'fast');
                return false;
            });
        });


    </script>


</footer>

</html>