<!--for styling, change file type to html, run live server, make changes, then change back to ejs-->
<!-- make page background react to colours in poster -->

<!DOCTYPE HTML>
<html>

<head>
    <meta charset=utf-8>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommend</title>

    <link rel="stylesheet" href="/styles/recommend.css" />
    <link rel="stylesheet" href="/bootstrap/css/mdb.min.css" />
    <script src="/scripts/recommend.js"></script>
    <script src="/bootstrap/js/mdb.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>

<body>

    <!-- Nav bar -->
    <div class="py-1 text-center bg-white border-bottom">
        <div class="container">
            <div class="row align-items-center justify-content-between">

                <!-- Left elements -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <% if (session && session.email) { %>
                        <!-- sign in button -->
                        <form action="/signout" method="POST">
                            <button type="submit" class="border rounded nav-link d-inline-block">
                                <p class="btn mb-0">Sign out</p>
                            </button>
                        </form>

                        <% } else { %>
                            <!-- sign up and sign in buttons -->
                            <a href="/createAccount" class="border rounded nav-link d-inline-block">
                                <p class="btn d-md-block mb-0">Sign up</p>
                            </a>
                            <a href="/login" class="border rounded nav-link d-inline-block">
                                <p class="btn d-md-block mb-0">Sign in</p>
                            </a>
                            <% } %>
                </div>

                <!-- Centered title -->
                <div class="col-lg-4 col-md-6 col-sm-12" id="page_title" style="cursor: pointer;">
                    <h1>Film Recommender</h1>
                </div>

                <!-- Right elements -->
                <div class="col-lg-4 col-md-12 col-sm-12 text-end">
                    <% if (session && session.email) { %>
                        <!-- watchlist and profile buttons -->
                        <a href="/recommend" class="border rounded nav-link d-inline-block">
                            <p class="btn d-md-block mb-0">Recommend</p>
                        </a>
                        <a href="/Watchlist" class="border rounded nav-link d-inline-block">
                            <p class="btn d-md-block mb-0">Watchlist</p>
                        </a>
                        <a href="/Profile" class="border rounded nav-link d-inline-block">
                            <p class="btn d-md-block mb-0">My films</p>
                        </a>
                        <% } %>
                </div>
            </div>
        </div>
    </div>
    <!-- END nav bar -->




    <!-- page content -->
    <div class="container m-1">
        <div class="row">

            <!-- MIXED RECOMMENDED FILM CARDS REEL -->
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="container">
                    <div class="h2">based on your profile:</div>

                    <div class="bulk-scrollbox" id="film-scrollbox" data-id="<%= session.id %>">
                        <!-- FILM CARDS SPAWNED HERE -->

                    </div>

                </div>
            </div>
            <!-- END MIXED FILMS CARDS REEL -->

            <!-- REC FILMS CATEGORIES -->
            <div class="col-lg-6 col-md-6 col-sm-12 py-2">

                <!-- plot and cast category boxes row -->
                <div class="row d-flex justify-content-center m-1">

                    <div class="col">
                        <!-- plot cateogry scroll box -->
                        <div class="h2">plot</div>
                        <div class="group-scrollbox">
                            <!-- plot film card -->
                            <div class="small-film-card">
                                <div class="small-film-details">
                                    <h3 class="small-film-title">Title</h3>
                                    <p class="small-film-plot">some madness happens; crazy arcs brazy plot tiwst just sit and watch man shut up nah what you what mate you want som emate you'll get smoke bro you better back away from me come then </p>
                                </div>
                            </div>
                            <!-- END plot film card -->
                        </div>
                        <!-- END plot cateogry scroll box -->
                    </div>

                    <div class="col">
                        <!-- cast category scroll box -->
                        <div class="h2">cast</div>
                        <div class="group-scrollbox">
                            <!-- cast film card -->
                            <div class="small-film-card">
                                <div class="small-film-details">
                                    <h3 class="small-film-title">Title</h3>
                                    <p class="small-film-cast">Chris Hemsworth, Chris Pine, Chris Pratt</p>
                                </div>
                            </div>
                            <!-- END cast film card -->
                        </div>
                        <!-- END cast category scroll box -->
                    </div>

                </div>


                <!-- genres and crew category boxes row -->
                <div class="row d-flex justify-content-center m-1">

                    <div class="col">
                        <!-- genres cateogry scroll box -->
                        <div class="h2">genres</div>
                        <div class="group-scrollbox">
                            <!-- genre film card -->
                            <div class="small-film-card">
                                <div class="small-film-details">
                                    <h3 class="small-film-title">Title</h3>
                                    <p class="small-film-genres"> Action, Comedy, Romance </p>
                                </div>
                            </div>
                            <!-- END genres film card -->
                        </div>
                        <!-- END genres category scroll box -->

                    </div>

                    <!-- cast category scroll box -->
                    <div class="col">
                        <div class="h2">crew</div>
                        <div class="group-scrollbox">
                            <!-- crew film card -->
                            <div class="small-film-card">
                                <div class="small-film-details">
                                    <h3 class="small-film-title">Title</h3>
                                    <p class="small-film-crew">Christoper Nolan, Hans Zimmer, Roger Deakins</p>
                                </div>
                            </div>
                            <!-- END crew film card -->
                        </div>
                    </div>
                    <!-- END crew category scroll box -->
                </div>
                <!-- END genres and crew category boxes row -->

            </div>

        </div>

    </div>

    <!-- END page content -->

</body>


<footer>


</footer>

</html>